html {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    background-color: black;
}

header, #main {
    text-align: center;
}

h1 {
    color: white;
}

a {
    color: aquamarine;
}

h4 {
    font-size: 1.3125rem;
    color: gray;
}

/*Header*/

header h1 {
    font-size: 3.125rem;
}

/*Main*/

#main h1 {
    font-size: 2.625rem;
    font-weight: 300;
}

.phone {
    margin-top: 1rem;
}

/*Footer*/

footer {
    text-align: right;
}
